.sidebar {
  min-width: 229px;
  display: flex;
  align-items: center;
}

.sidebar__profile-avatar {
  display: block;
  width: 56px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;

  margin-right: 16px;
}

.sidebar__profile-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cabinet Grotesk';
  font-weight: 700;
  font-size: 30px;
  line-height: 1.25;
  color: #000;
}

.sidebar__username {
  width: 157px;
  margin: 0;

  font-family: 'Cabinet Grotesk';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}
