.form__title {
  margin: 0;
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  color: #000000;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 24px;

  border: none;
}

.form__body + .form__fieldset {
  margin: 0;
}

.form__label {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  margin-bottom: 8px;
  color: #000000;
}
.form__label_error {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  margin-bottom: 8px;
  color: #ff4d00;
}

.form__input {
  padding: 0;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 1px solid #000000;

  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.form__input-error {
  color: #ff4d00;
  border-bottom: 1px solid #ff4d00;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form__radio-group {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.form__label-radio {
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.form__input-radio {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-right: 8px;
  cursor: pointer;
}

.form__input-radio:checked {
  background-color: #000;
  border: 3px solid white;
  box-shadow: 0 0 0 1px #000;
}

.form__input-radio:checked + .form__label-radio {
  color: #000;
}

.form__submit-button_base {
  margin-top: 32px;
  padding: 0;
  width: 124px;
  height: 36px;
  border: 0;
  background: rgb(0, 0, 0);
  border-radius: 4px;

  cursor: pointer;

  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  color: #ffffff;
}

.form__submit-button_base:hover {
  background: rgba(0, 0, 0, 0.6);
}
.form__submit-button_disabled {
  margin-top: 32px;
  padding: 0;
  width: 124px;
  height: 36px;
  border: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  cursor: pointer;

  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  color: #ffffff;
}
