.modal__delete-message {
  margin: 0;
  margin-bottom: 40px;

  width: 367px;
  height: 48px;

  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  text-align: center;

  color: #000000;
}

.modal__delete-confirm {
  padding: 0;
  border: 0;
  margin-bottom: 24px;

  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  background: none;
  cursor: pointer;

  color: #ff4d00;
}

.modal__delete-cancel {
  padding: 0;
  border: 0;

  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  background: none;
  cursor: pointer;

  color: #000000;
}
